<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <%= require('./template/publicMeta.html') %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="app">
        <div class="page" id="page1">
            <div class="mg-bar mg-bar-nav">
                <a  class="iconfont icon-back mg-fl" href="#"></a>
                <a  class="mg-action-menu mg-icon mg-icon-bars mg-pull-right" style="display: none;"></a>
                <h1  class="mg-title"></h1>
            </div>
            <div class="mg-content">
                <a href="#page2" class="mg-navigate-right">page2</a><br/><br/>
                <a href="#page3" class="mg-navigate-right">page3</a><br/><br/>
            </div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
            <div style="height:100px; background:red;">sss</div>
        </div>
    </div>
</body>
</html>